body
{
    background-image: url("Castle.jpg");
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    height: 100vh; /* Ensure the body fills the viewport vertically */
}
#box
{
width: 330px;
height: 440px;
background-color: rgba(255,255,255,0.5);
border: 7px solid black;
margin: auto;
color: black;  
align-content: center; 
align-items: center;
}
#Welcome
{
background-image: url("wooden-texture.jpg");
background-clip: text;
color: transparent;
-webkit-background-clip: text;
text-align:center;
font-family:"Algerian", serif;
font-size: 42px;
font-weight: bold;
}
#desc
{
    text-align: center;
    background-color: transparent;
    color: black;
    font-family:"Calibri", serif;
    font-size: 24px;
}
#confirmclass
{
    width: 200px;
    height: 80px;
    font-size: 22px;
}
#classcho
{
    width: 100;
    font-size: 40px;
}
#statlist
{
    font-size: 28px;
}
.start
{
    color: blue; /* Set text color */
    text-decoration: underline; /* Add underline to mimic link */
    cursor: pointer; /* Change cursor to pointer on hover */
}
