body
{
    background-image: url("Castle.jpg");
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    height: 100vh; /* Ensure the body fills the viewport vertically */
}
#box
{
width: 400px;
height: 500px;
position: relative;
background-color: rgba(255,255,255,0.7);
border: 7px solid black;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 20px;
margin: auto;
color: black;  
align-content: center; 
align-items: center;
text-align: center;
justify-content: center;
}
#Welcome
{
background-image: url("wooden-texture.jpg");
background-clip: text;
color: transparent;
-webkit-background-clip: text;
text-align:center;
font-family:"Algerian", serif;
font-size: 42px;
font-weight: bold;
}
#desc
{
    text-align: center;
    background-color: transparent;
    color: black;
    font-family:"Calibri", serif;
    font-size: 24px;
}
#confirmclass
{
    width: 200px;
    height: 80px;
    font-size: 22px;
}
#classcho
{
    width: 100;
    font-size: 40px;
}
#statlist
{
    font-size: 28px;
    text-align: center;
    margin: 0;
}
.start
{
    color: blue; /* Set text color */
    text-decoration: underline; /* Add underline to mimic link */
    cursor: pointer; /* Change cursor to pointer on hover */
}
#box #backtostart
{
    font-size: 11px;
    background-color: rgb(240, 154, 93);
    border: 3px solid rgb(233, 17, 82);
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}
#box #floornum
{
    width: 30%;
    font-size: 24px;
    font-family:"Algerian", serif;
    color: aliceblue;
    background-color: rgb(242, 109, 14);
    font-weight: bolder;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#box #player
{
    position: absolute;
    width: 25%;
    height: 30%;
    top:50%;
    left: 15%;
    transform: translate(-50%, -50%);
}
#box #enemy
{
    position: absolute;
    width: 25%;
    height: 30%;
    top:50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
#box #act
{
    background-image: url("lightwood.jpg");
    position: absolute;
    width: 100%;
    height:35%;
    top:65%
}
#act #fight
{
    position: absolute;
    background-color: transparent;
    font-family: cursive, serif;
    font-weight: bolder;
    font-size: 20px;
    border: 0;
    top: 40%;
    left: 37%;
    width: 26%;
    height: 20%;
    cursor: pointer;
}
#act #playinfo
{
    position: absolute;
    align-content:left;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5%;
    left: 5%;
}
